html {
    background-color: cornflowerblue;
}

label{
    font-size:18px;
    
}


input{
    font-size: 18px;
}

.container{
    display:flex;
    align-items: center;
}


.Texto {
    background-color: cornsilk;
    margin: 25px;
    padding: 10px;
    border: solid 5px black;
    font-size: 25px;
    color: black;
    list-style-type: none;
}
textarea{
    border: solid 2px black;
    color:blue;
}

.Terno,

.Vestidos,

.Macacao,

.Jeans,

.Leg,

a {
    font-size: 20px;
}
